html, body, a {
  text-align: center;
  vertical-align: middle;
  display: block;
  color: #210301;
  font-size: 2vw;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  text-decoration: none;
   
}

img {height:100vh;width:100vw;}
#tex {margin-top:40vh;}
