html, body, a {
  color: #210301;
  font-size: 3vw;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  text-decoration: none;
  margin-top: 20vh;
  text-align: center;
}

img {height:100vh;width:100vw;}
#tex {}
